<mat-card>
  <h2>Repos of {{userName}}</h2>
  <span><a [routerLink]="['/']">Back</a></span>
</mat-card>

<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile *ngFor="let repo of repos">
    <mat-card>
      <div>
        <p><strong>Repo name: {{repo.name}}</strong> <span class="right"><a target="_balank"
              href="{{repo.html_url}}">View</a></span></p>
        <strong>Description: </strong>
        <div class="description">{{repo.description}}</div>
      </div>
      <div>
        <br>
        <span class="left">Created at: {{repo.created_at | date:'dd-MM-yyyy'}}</span> <span class="right">Updated at:
          {{repo.updated_at | date:'dd-MM-yyyy'}}</span>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
