<h1 class="header">Git User List</h1>
<mat-card>
  <mat-form-field class="example-full-width">
    <input matInput="search" (keyup)="searchUser($event)" placeholder="Search User by name">
  </mat-form-field>
  <table mat-table [dataSource]="users" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let element"> <img class="pad5" src="{{element.avatar_url}}" height="75px" width="75px">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.login | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="repos">
      <th mat-header-cell *matHeaderCellDef>View Repos </th>
      <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" (click)="navigateToRepos(element.login)">View
          Repos</a> </td>
    </ng-container>

    <!-- Profile Column -->
    <ng-container matColumnDef="profile">
      <th mat-header-cell *matHeaderCellDef> Public Profile </th>
      <td mat-cell *matCellDef="let element"> <a target="_balank" href="{{element.html_url}}">View Profile</a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
