table {
  width: 100%;
}

.header {
  text-align: center;
  padding: 8px;
}

.pad5 {
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 25%;
}
